<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BaseURL</key>
	<string>https://api.pandascore.co</string>
	<key>CSTVKey</key>
	<string>jSXLAdNeOhiZsGjmVNyRJsOK9DwjfJVM67G5maEYaQ_XbxD2wOM</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
</dict>
</plist>
